@font-face{
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.ttf');
}
@font-face{
    font-family: 'earthorbiter';
    src: url('fonts/earthorbiter.ttf');
 }

body{
	font-family: 'earthorbiter';
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
}
/*------MENU------*/
nav{ 
	   background-image: linear-gradient(to bottom right, #2B2B2B, #1F1E1E);
	   position:fixed;
	   top: 0;
	   left: 0;
	   right: 0;
	   margin: 0 auto;
	   opacity: 1;
	   z-index: 10;
	}
	nav ul{
	    display: flex;
	    justify-content: space-around;
	    align-items: center;
	    font-size: 1.2rem;
	    height: 7rem;
	    padding: 0;
	}
	nav a{
	color: white;
	text-decoration:none; 
	}
	nav ul li{
	    width: 100%;
	    list-style-type: none;
	    display: flex;
	    justify-content: center;
	}
	nav input{
	    opacity: 0.4;
	    width:9rem;
	}
	nav img{
		height: 5rem;
		width: auto;
	}
	#ticket{
	    width: 3rem;
	    height: 3rem;
	}
	#zone_embarquement{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 1rem;
	}
	li p{
		margin: 0rem;
	    padding: 0rem;
	    text-align: center;
	    font-size: 0.8rem;
	    color: white;
	}
	nav ul li .bouton{
	    background-image: url(images/icons8-search-30.png);
	    width: 2rem;
	    height: 2rem;
	} 
/*Zone embaquement*/
	#embarquement{
		background-image: url(images/embarquement2.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 100% 100%;
		width: 100%;
		height: 70rem;
		margin-top: 5.6rem;
		margin-left: 0rem;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-content: space-around;
	}
	#billets{
		display: flex;
		justify-content: space-around;
		margin-top: 0.4rem;
		margin-bottom: 0.4rem;
	}
/*Carte embarquement*/
	.carte_embarquement{
		border-style: solid;
		border-color: white;
		border-width: 0.3rem;
		margin-top: 2rem;
		margin-left: 2rem;
		margin-right: 2rem;
		padding-right: 1rem;
		padding-left: 1rem;
		border-radius: 0.5rem;
		border-width: 0.5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;
		background-color:rgba(0, 0, 0, 0.5);
		margin-bottom: auto;
	}
	.carte_embarquement:hover{
		transition:2s; 
		border-style: double;
		background-color:rgba(232, 198, 126, 0.8);
		color: #2B2B2B;
	}
	.title1{
		color: black;
		font-style: italic;
		font-weight: bold; 
	}
	.title1:hover{
		color: #2B2B2B;
	}
	.title2{
		color: white;
	}
	#paiement{
		width: 100%;
	}
/*Paiment total*/
	#tout_payer{
		width: 50%;
		margin:auto;
		margin-top: 0.2rem;
		margin-bottom: 0.2rem;
		color: white;
		opacity: 0.8;
		border-radius: 0.2rem;
		border-style: solid;
		border-color: white;
		padding: 1%;
		border-width: 0.2rem;
		padding: 0.2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#tout_payer:hover{
		transition:2s; 
		border-style: double;
		border-color: rgb(232,49,44);
		background-color:rgba(232, 198, 126, 0.8);
		color: white;
	}
	#tout_payer h2{
		padding: 0rem;
		margin:0.1rem;
		text-align: center;
	}
/*Infos planète*/
	#infos_mars{
		width: 90%;
		margin: auto;
		margin-top: 0.2rem;
		margin-bottom: 0.2rem;
		color: white;
		opacity: 0.8;
		border-radius: 0.2rem;
		border-style: solid;
		border-color: white;
		padding: 1%;
		border-width: 0.2rem;
	}
	#infos_mars:hover{
		transition:1s; 
		border-style: double;
		background-color:rgba(232, 198, 126, 0.8);
		color: #4F342E;
	}
	/*Footer*/
		footer{
			display: flex;
			justify-content: space-around;
			align-items: center;
			max-height: 20rem;
			margin: 0;
			padding: 0rem 10rem;
			color:white;
			background-color: #2B2B2B;
			font-family: 'Raleway';

		}
	/*Arborescence*/
		footer ul{
			display: flex;
			flex-direction: column;
			text-align: left;
			list-style: none;
			margin: 2rem;
			border-left: 3px solid white;
		}
		footer>ul>li button{
			color:white;
			font-size: 12px;
			font-weight: normal;
			text-align: left;
			width: 10rem;
			margin: 0.5rem 0rem;
			padding: 0rem;
			border: none;
			background:rgb(0,0,0,0);
		}
		footer>ul>li button:hover{
			font-size: 12px;
			font-weight: bold;
			border-right: 2px solid white;
		}
	/*présentation projet*/
		footer #footergauche{
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-items: center;
		}
		footer>div>p{
			font-size: 12px;
			text-align: center;
			line-height: 1.5rem;
			margin: 1rem;
		}
		footer #validation{
			display: flex;
			justify-content: center;
			align-content: center;
			margin: 1rem;
		}
		footer #validation>img{
			width: 5rem;
			height: 2rem;
			margin-top: 0rem;
		}
	/*Social media*/
		#footerdroit{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			width: 20%;
		}
		footer #footerlogo{
			width: 7rem;
			height: 7rem;
			margin: 1rem;
		}
		footer #boutonsocialmedia{
			display: flex;
			flex-flow: row wrap;
		}
		footer a>img{
			width: 1.5rem;
			height: 1.5rem;
			margin: 0.5rem;
		}

	@media only screen and (max-width: 768px) {
		#billets{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-top: -5rem;
		margin-bottom: 0.4rem;
	}
		#embarquement{
		background-image: url(images/embarquement2.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 100% 100%;
		width: 100%;
		height: 180rem;
		margin-top: 0rem;
		margin-left: 0rem;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-content: space-around;
	}
	#tout_payer{
		width: 70%;
		margin:auto;
		margin-top: -30rem;
		margin-bottom: 0.2rem;
		color: white;
		opacity: 0.8;
		border-radius: 0.2rem;
		border-style: solid;
		border-color: white;
		padding: 1%;
		border-width: 0.2rem;
		padding: 0.2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#infos_mars{
		width: 90%;
		margin: auto;
		margin-top: -30rem;
		margin-bottom: 0.2rem;
		color: white;
		opacity: 0.8;
		border-radius: 0.2rem;
		border-style: solid;
		border-color: white;
		padding: 1%;
		border-width: 0.2rem;
	}

	/*Queries nav*/

		nav ul li{
			writing-mode: vertical-lr;
			text-orientation: upright;
			font-size: 0.7rem;
			align-items: center;
			justify-content: center;
			display: flex;
			flex-direction: column;
		}
		nav ul li p img{
			display: none;
		}
		nav ul li p{
			writing-mode: vertical-lr;
			text-orientation: upright;
			font-size: 0.6rem;
		}
		nav ul li p img{
			height: 1rem;
			width: auto;
		}
		nav ul li input{
		width: 2rem;
		height: 6rem;
		}
			
/*footer*/
		footer{
		display: flex;
		flex-direction: column;
		max-height: none;
		padding: 2rem 0rem;
		}
		.footerelement{
			margin: 1rem;
		}
		.footerelement:nth-child(1){
			order: 2;
		}
		.footerelement:nth-child(2){
			order: 1;
		}
		.footerelement:nth-child(3){
			order: 3;
		}
		footer #boutonsocialmedia{
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
		}